@model IEnumerable<eLearning.Models.SignedDiploma>

@{
    ViewData["Title"] = "Signed Diplomas";
}

<h1>Certified diplomas</h1>

<p>
    <a asp-action="Create">Issue a diploma</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HolderFullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfIssue)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HolderFullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfIssue)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Go to QR code</a>
            </td>
        </tr>
}
    </tbody>
</table>
