@model eLearning.Models.BlockchainTransaction

    <div class="text-center">


        <img src="~/images/ebcl_logo.png" class="responsive" />

        <hr />

        <div class="form-group">

            <h4 class="text-black-50"><i class="fas fa-user-check"></i> @Model.HoldersName</h4>

        </div>

        <div class="form-group">

            <h4 class="text-black-50"><i class="fas fa-certificate"></i> @Model.CourseName</h4>

        </div>

        <div class="form-group">

            <h4 class="text-black-50"><i class="fas fa-clock"></i> @Model.DateOfIssue.Date.Day @Model.DateOfIssue.Date.ToString("MMMM") @Model.DateOfIssue.Year</h4>

        </div>

        <br />

        <div class="form-group">

            <h6 style="color:forestgreen"><i class="fas fa-check-circle"></i> Signed and verified by the ICI EBCL Blockchain Network</h6>

        </div>

    </div>

<style>
    .responsive {
        max-width: 100%;
        height: auto;
    }

    .text-color {
        color: #004d99 !important;
    }
</style>
