@model eLearning.Models.Course

@{
    ViewData["Title"] = "Details";
}
    <h2 class="text-color" >Course details</h2>
    <hr />
    <div class="card">
        <div class="">
            <div class="ml-2 mt-2">
                <h5 class="text-black mb-3">Name of the course:  <h7 class="text-black-50">@Html.DisplayFor(model => model.Name)</h7> </h5>
                <h5 class="text-black  mb-3">Starting Date:  <h7 class="text-black-50">@Html.DisplayFor(model => model.StartingDate)</h7></h5>
                <h5 class="text-black mb-3">Ending Date:  <h7 class="text-black-50">@Html.DisplayFor(model => model.EndingDate)</h7></h5>
                @if (Model.HasCertificate == false)
                {
                    <h5 class="text-black  mb-3">Has Certificate:  <h7 class="text-black-50">NO</h7></h5>
                }
                else
                {
                    <h5 class="text-black  mb-4">Has Certificate:  <h7 class="text-black-50">YES</h7></h5>
                }
            </div>
            <h2 class="mt-1 text-color">Student resources</h2>
            <hr />
            <div class="list-group d-flex text-color">

                <form asp-action="Details" asp-controller="Trainings" method="get">
                    <button type="submit" class="nav-link btn btn-link font-weight-bold button-layout"><i class="fas fa-laptop-code"></i> Training</button>
                    <input type="hidden" name="id" value="@Model.Id" />
                </form>

                <a class="nav-link font-weight-bold disabled" href="#" style="color:dimgray"><i class="fab fa-leanpub"></i> Evaluation - not available yet</a>
                <a class="nav-link font-weight-bold disabled" href="#" style="color:dimgrey"><i class="fas fa-graduation-cap"></i> Certificate - not available yet</a>
                <a class="nav-link font-weight-bold text-color" asp-controller="Courses" asp-action="Index" style="color:#00664d"><i class="fas fa-arrow-circle-left"></i> Go back</a>

            </div>
            @if (User.IsInRole("Admin"))
            {
                <br />
                <h2 class="mt-1 text-color" style="color: #00664d;">Admin resources</h2>
                <hr />
                <div class="list-group d-flex">
                    <form asp-action="GenerateKey" asp-controller="Courses" method="get">
                        <button type="submit" class="btn-link btn font-weight-bold text-color" style="color:#00664d; text-decoration:none;"><i class="fas fa-key"></i> Generate license keys for this course</button>
                        <input type="hidden" name="id" value="@Model.Id" />
                    </form>
                </div>
                <div class="list-group d-flex">
                    <div class="jumbotron">
                        <h4>Change the course logo</h4>
                        <form asp-action="UploadPhoto" asp-controller="Courses" method="post" enctype="multipart/form-data">
                            <input type="hidden" name="id" value="@Model.Id" />
                            <input type="file" name="file" /> <br />
                            <button type="submit" class="btn-link btn font-weight-bold text-color" style="color:#00664d; text-decoration:none;"> Upload</button>
                        </form>
                    </div>
                </div>
            }
        </div>
    </div>
<style>
    .card{
        border:none;
    }
    .text-color {
        color: #004d99;
    }

    .button-layout {
        color: #004d99;
        text-decoration: none;
    }
</style>