@model IEnumerable<eLearning.Models.Course>

@{
    ViewData["Title"] = "My Courses";
}

<h2 class="mb-3 mt-4 text-color text-center">My Courses</h2>
<hr />


@if (User.IsInRole("Admin"))
{

    <a class="nav-link mb-4 text-color font-weight-bold" asp-action="Create"><i class="fas fa-plus-circle"></i> Create New</a>
    <a class="nav-link mb-4 text-color font-weight-bold" asp-action="Redeem"><i class="fas fa-key"></i> Register Course Key</a>

}
else
{
    <a class="nav-link mb-4 text-color font-weight-bold" asp-action="Redeem"><i class="fa fa-key" aria-hidden="true"></i>  Register Course Key</a>
}


<br />

@if (Model.Count() > 0)
{
    <table class="table table-hover">
        <thead class="text-center text-white" style="background-color:  #004d99;">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    Starting Date
                </th>
                <th>
                    Ending Date
                </th>

                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody class="text-center">
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartingDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EndingDate)
                    </td>

                    <td>
                        @if (User.IsInRole("Admin"))
                        {
                            <a class="text-dark" style="text-decoration:none;" asp-action="Edit" asp-route-id="@item.Id"><i class="fas fa-edit"></i> Edit  </a>
                            <a class="text-dark" style="text-decoration:none;" asp-action="Delete" asp-route-id="@item.Id"><i class="fas fa-trash"></i> Delete  </a>
                        }
                        <a class="text-dark" style="text-decoration:none;" asp-action="Details" asp-route-id="@item.Id"><i class="fa fa-sign-out"></i> Go to course page</a>

                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h3 style="color:#b30000;">You are not registered to any courses <i class="fas fa-frown"></i></h3>
}

<style>
    .text-color {
        color: #004d99;
    }

    .button-layout {
        color: white;
        background-color: #004d99;
    }
</style>
