@model IEnumerable<eLearning.Models.Course>

@{
    ViewData["Title"] = "My Courses";
}

<h2 class="text-black-50 mb-3 mt-3">My Courses</h2>


@if (User.IsInRole("Admin"))
{
    
        <a class="btn btn-light btn-rounded mb-4" asp-action="Create">Create New</a>
        <a class="btn btn-light btn-rounded mb-4" asp-action="Redeem">Register Course Key</a>
 
}
else
{
   <a class="btn btn-light btn-rounded mb-4" asp-action="Redeem">Register Course Key</a>
}




@if (Model.Count() > 0)
{
    <table class="table table-hover">
        <thead class="thead-dark text-center">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    Starting Date
                </th>
                <th>
                    Ending Date
                </th>

                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody class="text-center">
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartingDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndingDate)
                </td>

                    <td>
                        @if (User.IsInRole("Admin"))
                        {
                            <a class="text-dark" asp-action="Edit" asp-route-id="@item.Id">Edit |</a> 
                            <a class="text-dark" asp-action="Delete" asp-route-id="@item.Id">Delete |</a>
                        }
                        <a class="text-dark" asp-action="Details" asp-route-id="@item.Id">Go to course page</a>

                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h3>You are not registered to any courses :(</h3>
}


