@model IEnumerable<eLearning.Models.Course>

@{
    ViewData["Title"] = "My Courses";
}

<h1>My Courses</h1>

@if (User.IsInRole("Admin"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}

<a asp-action="Redeem">Register Course Key</a>

@if (Model.Count() > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StartingDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EndingDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HasCertificate)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartingDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EndingDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HasCertificate)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h3>You are not registered to any courses :(</h3>
}


