@model List<eLearning.Models.LectureContentViewModel>

@{
    ViewData["Title"] = "Training";
}

<div>
    @if (Model.ElementAt(0).Lecture.Text_Content != "dummy")
    {
        <div class="text-center align-items-center">
            <br />
            @if (ViewBag.ImageDataUrl != null)
            {
                <img src="@ViewBag.ImageDataUrl" />
            }
            else
            {
                <h3>Course Content</h3>
            }

            <hr />
            <br />
        </div>

        <div id="accordion">
            @foreach (var l in Model)
            {

                <div class="card">
                    <div class="card-header" style="background-color: @l.Lecture.Lecture_Color;" id="div_@(l.Lecture.Lecture_Title)">
                        <div>
                            <h5 class=" text-white">
                                <button class="btn btn-link text-white btn-lg  text-justify" style="outline:none; text-decoration:none;" data-toggle="collapse" data-target="#div_@(l.Lecture.Index)" aria-expanded="false" aria-controls="div_@(l.Lecture.Index)">
                                    <i class="fas fa-book-reader"></i> @l.Lecture.Lecture_Title
                                </button>
                            </h5>
                        </div>
                        <div class="d-inline">
                            @if (User.IsInRole("Admin") || User.IsInRole("Tutor"))
                            {

                                <form class="float-right" asp-controller="Lectures" asp-action="Delete">
                                    <input type="hidden" name="id" id="id" value="@l.Lecture.Id" />
                                    <button class="btn btn-lg nav-link button-layout"><i class="fas fa-trash" style="color:#ff0000;"></i> Delete</button>
                                </form>

                                <form class="float-right" asp-controller="Lectures" asp-action="Edit" method="get">
                                    <input type="hidden" name="id" id="id" value="@l.Lecture.Id" />
                                    <button class="btn nav-link button-layout btn-lg" type="submit"><i class="fas fa-edit"></i>Edit this lecture</button>
                                </form>

                                <form class="float-right" asp-controller="Files" asp-action="UploadScreen">
                                    <input type="hidden" name="lecture_id" value="@l.Lecture.Id" />
                                    <input type="hidden" name="course_id" value="@l.Lecture.Course_Id" />
                                    <button class="btn nav-link button-layout btn-lg"><i class="fas fa-file-upload"></i> Upload Materials</button>
                                </form>

                                <form class="float-right" asp-controller="Files" asp-action="VideoUploadScreen">
                                    <input type="hidden" name="lecture_id" value="@l.Lecture.Id" />
                                    <input type="hidden" name="course_id" value="@l.Lecture.Course_Id" />
                                    <button class="btn nav-link button-layout btn-lg"><i class="fas fa-file-upload"></i> Upload Lecture Video</button>
                                </form>

                            }
                        </div>
                    </div>

                    <div id="div_@(l.Lecture.Index)" class="collapse" aria-labelledby="div_@(l.Lecture.Lecture_Title)" data-parent="#accordion">
                        <div class="card-body">

                            <div class="text-color">

                                @if (l.Lecture.Is_Zoom_Enabled)
                                {
                                    <div class="alert alert-secondary" role="alert">
                                        <img src="~/images/webex_logo.png" width="90" />
                                        Meeting start date: @l.Lecture.StartTime --> <a href=@l.Lecture.Zoom_Invite_Link>Join Meeting</a>
                                    </div>
                                }

                                <div class="card-header rounded">
                                    <h5 class="text-color"></h5>
                                    @if (l.VideoResources.Count == 0)
                                    {
                                        <h6 class="text-color">The video lecture is not available yet</h6>
                                    }
                                    @foreach (var f in l.VideoResources)
                                    {
                                        <div class="container">
                                            <div class="row">

                                                <div class="col-sm">
                                                    <h6>The video lecture is now available</h6>
                                                    <h7><i class="fas fa-play-circle"></i>  @Html.ActionLink("Watch Now", "Play", "Files", new { lecture_name = f.Generated_Name }, new { @class = "" })</h7>
                                                </div>

                                                <div class="col-sm">
                                                    @if (User.IsInRole("Admin") || User.IsInRole("Tutor"))
                                                    {
                                                        <form asp-controller="Files" asp-action="DeleteVideo">
                                                            <input type="hidden" name="filename_on_server" value="@f.Generated_Name" />
                                                            <input type="hidden" name="original_filename" value="@f.Original_Name" />
                                                            <button class="btn btn-link"><i class="fa fa-trash" aria-hidden="true" style="color:red"></i></button>
                                                        </form>
                                                    }
                                                </div>

                                            </div>
                                        </div>
                                    }
                                </div>

                                <br />

                                @Html.Raw(l.Lecture.Text_Content)

                            </div>

                            <br />

                            <div class="card-header rounded">
                                <h5 class="text-color">Downloads section</h5>
                                @if (l.CourseResources.Count == 0)
                                {
                                    <h6 class="text-color">No downloadable content for this lecture</h6>
                                }
                                @foreach (var f in l.CourseResources)
                                {
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-sm">
                                                <form asp-controller="Files" asp-action="Download">
                                                    <input type="hidden" name="filename_on_server" value="@f.Generated_Name" />
                                                    <input type="hidden" name="original_filename" value="@f.Original_Name" />
                                                    <button class="btn btn-link"><i class="fa fa-cloud-download" aria-hidden="true"></i>  @f.Original_Name</button>
                                                </form>
                                            </div>

                                            <div class="col-sm">
                                                @if (User.IsInRole("Admin") || User.IsInRole("Tutor"))
                                                {
                                                    <form asp-controller="Files" asp-action="Delete">
                                                        <input type="hidden" name="filename_on_server" value="@f.Generated_Name" />
                                                        <input type="hidden" name="original_filename" value="@f.Original_Name" />
                                                        <button class="btn btn-link"><i class="fa fa-trash" aria-hidden="true" style="color:red"></i></button>
                                                    </form>
                                                }
                                            </div>

                                        </div>
                                    </div>
                                }
                            </div>

                        </div>
                    </div>
                </div>

                <br />

            }

            @if (User.IsInRole("Admin") || User.IsInRole("Tutor"))
            {
                <form asp-controller="Lectures" asp-action="Add">
                    <button type="submit" class="btn text-color font-weight-bold"><i class="fas fa-plus-circle"></i>  Add another lecture</button>
                    <input type="hidden" value="@Model.FirstOrDefault().Lecture.Course_Id" name="Course_Id" />
                    <input type="hidden" value="Not setup yet" name="Text_Content" />
                    <input type="hidden" value="@(Model.Count()+1)" name="Index" />
                    <input type="hidden" value="New Lecture" name="Lecture_Title" />
                </form>


                <br />


                <form asp-controller="Trainings" asp-action="ResetWarning">

                    <button type="submit" class="btn btn-danger">Reset Materials Page</button>
                    <input type="hidden" value="@Model.FirstOrDefault().Lecture.Course_Id" name="id" id="id" />
                </form>
            }
        </div>
    }
    else
    {
        <div class="container-fluid">

            <div class="text-center align-items-center pt-4 pb-2">
                <h4 class="card-title py-3 text-color"> The training section has not been setup yet </h4>
            </div>

            @if (User.IsInRole("Tutor"))
            {
                <div class="text-center align-items-center pb-4">
                    <h5 class="card-title py-3 text-color">Status: INSTRUCTOR</h5>
                    <a class="btn button-color btn-rounded btn-lg" asp-controller="Trainings" asp-action="Configure" asp-route-id="@Model.ElementAt(0).Lecture.Course_Id">CONFIGURE COURSE</a>
                </div>
            }

            @if (User.IsInRole("Admin"))
            {
                <div class="text-center align-items-center pb-4">
                    <h5 class="card-title py-3 text-color">Status: ADMINISTRATOR</h5>
                    <a class="btn button-color btn-rounded btn-lg" asp-controller="Trainings" asp-action="Configure" asp-route-id="@Model.ElementAt(0).Lecture.Course_Id">CONFIGURE COURSE</a>
                </div>
            }

        </div>
    }
</div>
<style>
    .text-color {
        color: #004d99;
    }

    .button-layout {
        color: white;
        text-decoration: none;
    }

    .button-color {
        color: white;
        background-color: #004d99;
    }
</style>