@model IEnumerable<eLearning.Models.LicenseKey>

@{
    ViewData["Title"] = "Licenses";
}

<h2 class="text-color text-center mt-3">All licenses</h2>
<hr />
<br />

<table class="table table-hover">
    <thead class =" text-white text-center"style="background-color:  #004d99;">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Value)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Used)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="text-center">
            <td>
                @Html.DisplayFor(modelItem => item.Value)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Course_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Used)
            </td>
            <td>
                <a class="link decor" asp-action="Details" asp-route-id="@item.Id"><i class="fas fa-info-circle"></i> Details</a> 
                <a class="link decor" asp-action="Delete" asp-route-id="@item.Id"><i class="fas fa-trash-alt"></i> Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<style>
    .text-color {
        color: #004d99;
    }
    .decor{
        text-decoration:none;
        
    }
</style>