@inject SignInManager<IdentityUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}
<ul class="nav nav-pills flex-column text-center">
    <li class="nav-item"><a class="nav-link text-white mb-3 @ManageNavPages.IndexNavClass(ViewContext)" style="background-color:#00664d;" id="profile" asp-page="./Index">Profile</a></li>
    <li class="nav-item"><a class="nav-link text-white mb-3 @ManageNavPages.EmailNavClass(ViewContext)" style="background-color:#00664d;" id="email" asp-page="./Email">Email</a></li>
    <li class="nav-item"><a class="nav-link text-white  mb-3 @ManageNavPages.ChangePasswordNavClass(ViewContext)" style="background-color:#00664d;" id="change-password" asp-page="./ChangePassword">Password</a></li>
    @if (hasExternalLogins)
    {
        <li id="external-logins" class="nav-item"><a style="background-color:#00664d;" id="external-login" class="nav-link text-white  mb-3 @ManageNavPages.ExternalLoginsNavClass(ViewContext)" asp-page="./ExternalLogins">External logins</a></li>
    }
    <li class="nav-item"><a class="nav-link text-white  mb-3 @ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext)" style="background-color:#00664d;" id="two-factor" asp-page="./TwoFactorAuthentication">Two-factor authentication</a></li>
    <li class="nav-item"><a class="nav-link text-white  mb-3 @ManageNavPages.PersonalDataNavClass(ViewContext)" style="background-color:#00664d;" id="personal-data" asp-page="./PersonalData">Personal data</a></li>
</ul>
