@model eLearning.Models.AlterUserModel
@{
    ViewData["Title"] = "Promote User";
}


<h2 class=" text-justify mt-3 mb-4 write-color" >Promote user role</h2>

<h4 class=" text-justify mt-3 mb-4 write-color"  > Email: <span class="text-black-50"> @Model.Email</span> </h4>
<h4 class=" text-justify mt-3 mb-4 write-color" > Current Role: <span class="text-black-50"> @Model.CurrentRole</span></h4>

@if (Model.CurrentRole == "Student")
{
    @Html.ActionLink("Promote to Tutor", "ChangeRole", "Administrator", new { email = Model.Email, role = "Tutor" }, new { @class = "btn btn-outline-secondary btn-rounded mr-2" })
   
    @Html.ActionLink("Promote to Administrator", "ChangeRole", "Administrator", new { email = Model.Email, role = "Admin" }, new { @class = "btn btn-outline-secondary btn-rounded " });
}

@if (Model.CurrentRole == "Tutor")
{
    @Html.ActionLink("Demote to Student", "ChangeRole", "Administrator", new { email = Model.Email, role = "Student" }, new { @class = "btn btn-outline-secondary btn-rounded mr-2" });
 
    @Html.ActionLink("Promote to Administrator", "ChangeRole", "Administrator", new { email = Model.Email, role = "Admin" }, new { @class = "btn btn-outline-secondary btn-rounded " });
}

@if (Model.CurrentRole == "Admin")
{
    @Html.ActionLink("Demote to Student", "ChangeRole", "Administrator", new { email = Model.Email, role = "Student" }, new { @class = "btn btn-outline-secondary btn-rounded mr-2" })
  

    
    @Html.ActionLink("Demote to Tutor", "ChangeRole", "Administrator", new { email = Model.Email, role = "Tutor" }, new { @class = "btn btn-outline-secondary btn-rounded " })
}

<style>
    .btn-outline-secondary {
        background-color: #004d99 !important;
        border-color: #004d99;
        color: white;
    }

    .write-color {
        color: #004d99;
    }
</style>
